// fonts

@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Merriweather+Sans&family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap");

// colors

$primary-color: #aa14f0;
$secondary-color: #bc8cf2;

$black: #000000;
$grey: #5b5656;
$light-grey: #9c9797;
$antraciet: #293133;
$white: #eeeeee;

// fonts

$display-font: "Abril Fatface", cursive;
$primary-font: "Merriweather", serif;
$secondary-font: "Merriweather Sans", sans-serif;

$font-xs: 14px;
$font-s: 18px;
$font-m: 24px;
$font-l: 32px;
$font-xl: 42px;
